
* {box-sizing: border-box;}
body  {padding: 0; margin: 0; position: relative;}
/* HEADER */
header {display:none;}
    header .logo {font-size: 36px;color: #fff; float: left; margin: 0; padding: 0;}
     header .logo  img{width: 150px;}
    header .chamaResponsivo {display: block; padding: 10px; background: #1b1d37;float: right;}
    header .chamaResponsivo div {display: block; width: 40px; height: 5px; background: #fff;}
    header .chamaResponsivo div:nth-child(2) {margin-top: 3px; margin-bottom: 3px;}
    header .principal {padding:40px 0; }
    header .principal .row {align-items:center;}
    header .principal .row {align-items:center;}
    
.menuResponsivo {position: fixed; top: 0; left: -75%;  display: block; width: 75%; height: 100%; background: #1b1d37; z-index: 1;}
.resposivo{display: none;}   
.imagemPrincipal{background: #f9f9f9;}
/*FIM HEADER */


/* MENUS */
.nav{justify-content: center; background-color: #f9f9f9;}
.menu{list-style:none;float:left;padding-top: 2rem; padding-bottom: 2rem; font-size: 20px; }
    .menu li{position:relative; float:left}
    .menu li a{z-index: 99999; color:#fff; text-decoration:none; padding:5px 10px; display:block;}
        .menu li a:hover{background:#c3c3c3; color:#fff; -moz-box-shadow:0 3px 10px 0 #CCC; -webkit-box-shadow:0 3px 10px 0 #ccc;}
.menuResponsivoLinks{list-style:none;float:left;padding-top: 2rem; padding-bottom: 2rem; font-size: 20px; }
    .menuResponsivoLinks li a{z-index: 99999; color:#fff; text-decoration:none; padding:5px 10px; display:block;}
    .menuResponsivoLinks  li a:hover{background:#c3c3c3; color:#fff; -moz-box-shadow:0 3px 10px 0 #CCC; -webkit-box-shadow:0 3px 10px 0 #ccc;}

/* FIM  MENUS */


.imagemPrincipal {padding-top: 3rem;}
.sobreNos{height: 30vh;}
.textoIncial {text-align: center; padding-top: 3rem;padding-bottom: 3rem;}

/*Recursos */

.features {padding-bottom: 45px;padding-top: 3rem;background-image: url(../img/aviao-site-section-servicos.jpg); background-position: center; /* Center the image */}
    .features h2 {color: #999;padding-bottom: 3rem;}
    .feature-col {display: table;padding-bottom: 45px;}
    .feature-col>div>div {display: table-cell;vertical-align: middle;padding-top: 1rem;}
    .feature-col>div>div:last-child {padding-left: 20px;}
    .feature-col .feature-icon {width: 70px;height: 70px;margin-bottom: 15px;background: lightseagreen;color: #fff;font-size: 24px;text-align: center;line-height: 70px; border-radius: 50%;display: inline-block;}
    .feature-col h3 {color: #999;}
    .feature-col p {font-family: "Roboto", Helvetica, Arial, sans-serif;font-size: 14px;   color: #999;}
    /* FIM Recursos */


@media all  and ( max-width:768px){
    header {display:table ;padding: 30px ; background: #fff; width: 100%;}
    .menuResponsivo {display: block;}
    .menu {display:none;}
    .parallax-nav{display: none;}
    .imagemPrincipal{display: none;}

}
@media only screen  and ( max-width:750px){

    
}
@media only screen  and ( max-width:425px){
    
}
@media only screen  and ( max-width:375px){
   
}
@media only screen  and ( max-width:320px){
   
}